<h3>BUILT IN DIRECTIVES *ngIF *ngFor [ngClass] [ngStyle] to manipulate the DOM</h3>
<!-- toggling value of onlyOdd property between true and false -->
<button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Toggle odd and even</button>


<!-- ======================================================= -->
<!-- BUILTIN STRUCTURAL DIRECTIVES *ngFor *ngIf -- WHICH ADD/REMOVE ELEMENTS FROM DOM -->
<!-- BUILT IN ATTRIBUTE DIRECTIVES [ngClass] [ngStyle] -- WHICH MANIPULATE/MODIFY THE DOM -->
<div class="row">
  <ul class="list-group">
    <div *ngIf="!onlyOdd">
      
    <li class="list-group-item" *ngFor="let number of odd">
      {{number}}

    </li>
  </div>

    <div *ngIf="onlyOdd">
    <li class="list-group-item" *ngFor="let number of even">
      {{number}}

    </li>
  </div>
  </ul>
</div>


<!-- ======================================================= -->

<!-- BUILT IN ATTRIBUTE DIRECTIVES [ngClass] [ngStyle] -- WHICH MANIPULATE/MODIFY THE DOM -->
<!-- EXAMPLE SHOWS ADDING CLASS OR STYLE ONLY IF A CONDITION IS TRUE -->
<div class="row">
  <ul class="list-group">
    <div *ngIf="!onlyOdd">
    <li class="list-group-item" *ngFor="let number of numbers"
    [ngClass]="{odd: number % 2 !== 0}"
    [ngStyle]="{backgroundColor: number % 2 === 0 ? 'pink' : 'transparent'}">
    
      {{number}}

    </li>
</div>
  </ul>
</div>
<hr>
<h2>
  CUSTOM DIRECTIVES
</h2>
<!-- CUSTOM DIRECTIVE USED BELOW TO SET BACKGROUND GREEN -->
<p appCustomDirective>Using the 'custom directive'</p>
<p appBetterDirective>Using the 'better directive'</p>
<hr>
<h2>
  EVENT DRIVEN DIRECTIVES
</h2>

<p appEventDrivenDirective>Using the mouseover and mouseleave events</p>
<p appHostBindingDirective>@HostBinding sets text initially to blue, then @HostListener turns red when clicked</p>
<hr>
<h2>
  DYNAMIC BINDING TO DIRECTIVES
</h2>

<p appDynamicBindingDirective >mouse over to see default and alt color set in directive</p>


<!-- CAN USE BINDING WITH BRAKETS AND "''" AS IN ALTCOLOR -- OR REMOVE BRACKETS AND ONE SET OF QUOTES AS IN DEFAULTCOLOR -->
<p appDynamicBindingDirective defaultColor = 'green' [altColor]= "'blue'">mouse over to see default and alt color set by data binding from HTML elem</p>

<hr>
<h2>
  STRUCTURAL DIRECTIVES <P></P>
</h2>
<button class="btn btn-primary" (click)="value = !value">Structural Directive Toggle: {{value}}</button>
<p *appStructural="value">Element added to DOM when Value is false</p>

<hr>
<h3>SWITCH STATEMENT</h3>
<p>please select your age group</p>
<button (click)= "switchValue= 'child'">Under 14</button>
<button (click)= "switchValue= 'youngAdult'">14-20</button>
<button (click)= "switchValue= 'adult'">over 21</button>
<button (click)= "switchValue= 'senior'">over 65</button>
 <h3>Admission type:</h3>
<div [ngSwitch]="switchValue">
  <p *ngSwitchCase="'child'">Child discount</p>
  <p *ngSwitchCase="'youngAdult'">Adult admission -- under 21</p>
  <p *ngSwitchCase="'adult'">Adult admission -- over 21 wristband</p>
  <p *ngSwitchCase="'senior'">Senior discount</p>


</div>