<div class="container">
    <app-built-in-directives></app-built-in-directives>
  </div>









  <!-- <app-vador></app-vador> -->








<!-- <h1>Team Roster</h1>
<div class="row">
<div class="col-sm-5"> -->
  <!-- this will loop through team array and create a new app-team-list component for each -->
  <!-- bind the member object in app-team-list to the item formt he team array in this component -->
  <!-- <app-team-list *ngFor="let item of team"
  [member]="item"> -->
<!-- </app-team-list>
</div>
<!-- binds a PROPERTY in child comp to event in THIS component -->
<!-- <app-add-member
(memberCreated)="onMemberAdded($event)" ></app-add-member>
</div> -->